/ComplexParameterMappingImpl.java
/ComplexTypeMappingImpl.java
/DataOperationMappingImpl.java
/DataOperationParameterMappingImpl.java
/DataOperationReturnTypeMappingImpl.java
/ImportedComplexTypeToMapImpl.java
/ImportedMicroserviceImpl.java
/InterfaceMappingImpl.java
/MappingFactoryImpl.java
/MappingPackageImpl.java
/MicroserviceMappingImpl.java
/OperationMappingImpl.java
/ParameterMappingImpl.java
/PrimitiveParameterMappingImpl.java
/ReferredOperationMappingImpl.java
/TechnologyMappingImpl.java
/TechnologySpecificEndpointImpl.java
/TechnologySpecificFieldMappingImpl.java
/TechnologySpecificImportedServiceAspectImpl.java
/TechnologySpecificProtocolImpl.java
/TechnologySpecificProtocolSpecificationImpl.java
