/ComplexParameterMapping.java
/ComplexTypeMapping.java
/DataOperationMapping.java
/DataOperationParameterMapping.java
/DataOperationReturnTypeMapping.java
/ImportedComplexTypeToMap.java
/ImportedMicroservice.java
/InterfaceMapping.java
/MappingFactory.java
/MappingPackage.java
/MicroserviceMapping.java
/OperationMapping.java
/ParameterMapping.java
/PrimitiveParameterMapping.java
/ReferredOperationMapping.java
/TechnologyMapping.java
/TechnologySpecificEndpoint.java
/TechnologySpecificFieldMapping.java
/TechnologySpecificImportedServiceAspect.java
/TechnologySpecificProtocol.java
/TechnologySpecificProtocolSpecification.java
