.sprotty-graph {
    font-size: 15px;
}

.context > rect, .version > rect {
    outline: 1px solid var(--vscode-foreground);
    fill: none;
}

.context > text, .version > text {
    fill: var(--vscode-foreground);
    font-size: 2rem;
}

.list,
.structure,
.enum {
    fill: var(--vscode-button-secondaryBackground);
}

.separator {
    stroke: var(--vscode-button-secondaryForeground);
    stroke-width: 1;
}

.sprotty-node.selected {
    stroke-width: 2;
    stroke: var(--vscode-button-hover-background);
}
/*  */
.sprotty-label {
    fill: var(--vscode-button-secondaryForeground);
    stroke-width: 0;
    text-align: inherit;
}

.datafield-hidden, .dataoperation-hidden {
   fill: var(--vscode-charts-red);
   stroke-width: 4;
}

.datafield-immutable {
    font-style: italic;
    opacity: .5;
}

.datafield-feature, .dataoperation-feature {
    font-style: italic;
    opacity: .5;
}

text {
    font-family: var(--vscode-font-family);
}

.dataField, .dataOperation {
    font-family: var(--vscode-editor-font-family);
}

.structure .sprotty-icon {
    fill: var(--vscode-charts-green);
}

.list .sprotty-icon {
    fill: var(--vscode-charts-yellow);
}

.enum .sprotty-icon {
    fill: var(--vscode-charts-purple);
}

.sprotty-label.icon,
.sprotty-icon {
    stroke: var(--vscode-charts-foreground);
}

.sprotty-label.icon {
    fill: var(--vscode-charts-foreground);
    font-size: 1.7rem;
    font-weight: bold;
}

.sprotty-label.complexType {
    font-size: 1.2rem;
    font-weight: bold;
}

.sprotty-label.complexTypeFeature {
    font-size: 0.7rem;
}
.sprotty-label.complexTypeFeature::before {
    content: "<";
}
.sprotty-button {
    fill: var(--vscode-editorActiveLineNumber-foreground);
}

.sprotty-edge .sprotty-label {
    fill: var(--vscode-editorActiveLineNumber-foreground);
}

.sprotty-edge {
    fill: none;
    stroke: var(--vscode-editorActiveLineNumber-foreground);
    stroke-width: 2px;
}

.sprotty-edge.dependency > path:not(.sprotty-edge-arrow) {
    stroke-dasharray: 5;
}

.sprotty-edge-arrow.solid {
    fill: var(--vscode-editorActiveLineNumber-foreground);
}

.sprotty-edge > .sprotty-routing-handle {
    fill: var(--vscode-editor-selectionBackground);
    stroke: none;
    z-index: 1000;
}

.sprotty-edge > .sprotty-routing-handle[data-kind="line"] {
    opacity: 0.35;
}

.sprotty-edge > .sprotty-routing-handle.selected {
    /* fill: var(--vscode-editor-selectionHighlightBackground); */
}

.sprotty-edge > .sprotty-routing-handle.mouseover {
    stroke: var(--vscode-editor-symbolHighlightBackground);
    stroke-width: 1;
}

.sprotty-edge.mouseover:not(.selected) {
    stroke-width: 3px;
}

.sprotty-hidden {
    width: 0px;
    height: 0px;
}
