/ApiOperationCommentImpl.java
/ApiParameterCommentImpl.java
/EndpointImpl.java
/ImportImpl.java
/ImportedProtocolAndDataFormatImpl.java
/ImportedServiceAspectImpl.java
/ImportedTypeImpl.java
/InterfaceImpl.java
/MappedComplexTypeImpl.java
/MappedDataOperationImpl.java
/MappedDataOperationParameterImpl.java
/MappedDataOperationReturnTypeImpl.java
/MappedFieldImpl.java
/MicroserviceImpl.java
/OperationImpl.java
/ParameterImpl.java
/PossiblyImportedInterfaceImpl.java
/PossiblyImportedMicroserviceImpl.java
/PossiblyImportedOperationImpl.java
/ProtocolSpecificationImpl.java
/ReferredOperationImpl.java
/ServiceFactoryImpl.java
/ServiceModelImpl.java
/ServicePackageImpl.java
/TechnologyReferenceImpl.java
