/AvroToLemmaDialog.java
/ModelKindStyledLabelProvider.java
/ModelTableCheckboxColumnEditingSupport.java
/ModelTableTargetPathColumnEditingSupport.java
/SchemaTreeContentProvider.java
/SchemaTreeLabelProvider.java
/SpecifyLemmaPathsDialog.java
/TransformToLemmaHandler.java
