/AspectFeature.java
/CommunicationType.java
/CompatibilityDirection.java
/CompatibilityMatrixEntry.java
/DataFormat.java
/DeploymentTechnology.java
/ExchangePattern.java
/InfrastructureTechnology.java
/JoinPointType.java
/OperationAspect.java
/OperationAspectPointcut.java
/OperationAspectPointcutSelector.java
/OperationEnvironment.java
/OperationTechnology.java
/PointcutType.java
/PossiblyImportedTechnologySpecificType.java
/PropertyFeature.java
/Protocol.java
/ServiceAspect.java
/ServiceAspectPointcut.java
/ServiceAspectPointcutSelector.java
/Technology.java
/TechnologyAspect.java
/TechnologyFactory.java
/TechnologyImport.java
/TechnologyPackage.java
/TechnologySpecificDataStructure.java
/TechnologySpecificListType.java
/TechnologySpecificPrimitiveType.java
/TechnologySpecificProperty.java
/TechnologySpecificPropertyValueAssignment.java
