/ApiOperationComment.java
/ApiParameterComment.java
/Endpoint.java
/Import.java
/ImportType.java
/ImportedProtocolAndDataFormat.java
/ImportedServiceAspect.java
/ImportedType.java
/Interface.java
/MappedComplexType.java
/MappedDataOperation.java
/MappedDataOperationParameter.java
/MappedDataOperationReturnType.java
/MappedField.java
/Microservice.java
/MicroserviceType.java
/Operation.java
/Parameter.java
/PossiblyImportedInterface.java
/PossiblyImportedMicroservice.java
/PossiblyImportedOperation.java
/ProtocolSpecification.java
/ReferredOperation.java
/ServiceFactory.java
/ServiceModel.java
/ServicePackage.java
/TechnologyReference.java
/Visibility.java
